@model string 

<form class="login100-form validate-form"  asp-controller="UserManagment" asp-action="AddRole" method="post">
    <input type="text" id="Role" name="Role" class=text-black />
    <button type="submit">ثبت</button>
    </form>
